@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>
<h3 class="mb-4 mt-3 part-title">@ViewBag.Message</h3>

<p class="lh-2">
    GeeksForLess is a North America-based outsourcing company with the majority of its skilled workforce in Mykolaiv, Ukraine. GeeksForLess has opened a new office located in Clark Freeport Zone, Angeles City, Philippines, in 2011.
    GeeksForLess is established as a dependable business partner, delivering IT human resources to European and North American companies seeking specialized software development, technical support, QA testing, web design, web development, system administration and other time-consuming administrative services. We deliver top quality Outsourcing Services to companies, at the same time allowing to reduce dramatically HR related costs. Offshore software developers and other IT personnel give companies the opportunity to tap into highly technically educated personnel with excellent work ethics at a lower cost while being able to integrate and manage them as an extension of their local teams. This allows the companies to achieve high productivity without any loss of control.
</p>
