@{
    ViewBag.Title = "Наши контакты";
}
<h2 class="mb-4">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="half col-5 mb-4">
        <h2>Главный офис:</h2>
        <p>
            Suite 102, Saffrey Square, Bay&nbsp;Street&nbsp;&amp;&nbsp;Bank&nbsp;Lane<br>
            Nassau, Bahamas<br>
            SP-61132<br>
            <strong>Тел:</strong> +1 954 990 0022<br>
            <strong>E-mail:</strong> <a href="mailto:info@geeksforless.com">info@geeksforless.com</a>
        </p>
    </div>

    <div class="half col-5 mb-4">
        <h2>Украина, Николаев:</h2>
        <p>
            130 B, Kosmonavtov Str.<br>
            54031, Николаев, Украина<br>
            <strong>Тел:</strong> +380 512 58 54 83, +380 512 58 54 77<br>
            <strong>Fax:</strong> +380 512 58 54 82<br>
            <strong>E-mail:</strong> <a href="mailto:mykolayiv@geeksforless.com">mykolayiv@geeksforless.com</a>
        </p>
    </div>

    <div class="half col-5 mb-4">
        <h2>Украина, Львов:</h2>
        <p>
            14-15, Soborna Sq.<br>
            79008, Львов, Украина<br>
            <strong>Тел:</strong> +380 322 53 54 81<br>
            <strong>Fax:</strong> +380 512 58 54 82<br>
            <strong>E-mail:</strong> <a href="mailto:lviv@geeksforless.com">lviv@geeksforless.com</a>
        </p>
    </div>

    <div class="half col-5 mb-4">
        <h2>Украина, Киев:</h2>
        <p>
            11/2, Ihorivska St.<br>
            04070, Киев, Украина<br>
            <strong>Тел:</strong> +380 44 221 04 21<br>
            <strong>E-mail:</strong> <a href="mailto:kyiv@geeksforless.com">kyiv@geeksforless.com</a>
        </p>
    </div>

    <div class="half col-5 mb-4">
        <h2>Филиппины:</h2>
        <p>
            UNIT 3F Philexcel Business Center #6<br>
            Philexcel Business Park, M.A. Roxas Hiway,<br>
            Clark Freeport Zone, Pampanga, Philippines<br>
            <strong>Тел:</strong> +63 45 499 22 18<br>
            <strong>E-mail:</strong> <a href="mailto:philippines@geeksforless.com">philippines@geeksforless.com</a>
        </p>
    </div>
</div>