@{
    ViewBag.Title = "GFSForum";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 hello-page-left">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 hello-page-right">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#registration" role="tab" data-toggle="tab">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#login" role="tab" data-toggle="tab">Вход</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="registration">
                @Html.Partial("~/Views/Account/Register.cshtml")
            </div>
            <div role="tabpanel" class="tab-pane fade" id="login">
                @Html.Partial("~/Views/Account/Login.cshtml")
            </div>
        </div>

    </div>
</div>